@import "defi-wallet-logo";

.vue3rdj5 {
    color: #474340;
    font-family: inherit;
    font-size: 10px;

    &__modes {
        margin: 0 auto;
        max-width: 500px;

        &-open {
            align-items: center;
            background: #eee;
            border: none;
            cursor: pointer;
            display: flex;
            font-size: 2.2em;
            font-weight: 600;
            justify-content: center;
            margin-top: 16px;
            min-height: 80px;
            padding: 16px;
            width: 100%;

            span {
                margin-right: 4px;
            }

            &-active {
                background: #f5f5f5;
            }
        }

        &-logo {
            margin-right: 12px;
            max-width: 48px;

            &-ledger {
                margin: 0 14px 0 2px;
                max-width: 44px;
            }
        }
    }

    &__mode {
        background: #f5f5f5;
        margin: 0 auto 16px;
        padding: 1px 16px 16px;
        width: 100%;

        &-link {
            align-items: center;
            background: #474340;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: inherit;
            font-size: 1.9em;
            font-weight: 600;
            justify-content: center;
            margin: 16px auto 0;
            max-width: 470px;
            min-width: 150px;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            width: 100%;

            &-maiar {
                background: #1942b9;
            }
        }

        &-qr {
            margin: 0 auto;
            max-width: 300px;
        }

        &-error {
            display: flex;
            font-family: inherit;
            font-size: 1.9em;
            font-weight: 600;
            justify-content: center;
            width: 100%;
            color: #a13341;
        }
    }

    &__infos {
        display: flex;
        flex-direction: column;
        font-family: inherit;
        font-size: 1.9em;
        font-weight: 600;
        justify-content: center;
        width: 100%;

        &-txt {
            width: 100%;
        }

        &-link {
            text-decoration: none;
            cursor: pointer;
            padding: 5px 10px;
            background-color: #474340;
            color: white;
            border-radius: 8px;
            border: white solid 1px;

            &:hover,
            &:active {
                background-color: white;
                color: #474340;
                border: black solid 1px;
            }
        }
    }

    &__ledger {
        &-item {
            margin-top: 8px;
            padding: 4px;
        }

        &-link {
            background: #fff;
            color: #474340;
            display: block;
            font-size: 1.2rem;
            overflow: hidden;
            padding: 8px 12px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
        }
    }

    &__logged {
        margin: 0 auto 16px;
        max-width: 300px;
        width: 100%;
        text-align: center;

        &-address {
            font-size: 2em;
            padding: 16px;
        }

        &-logout {
            background: #474340;
            border: 0;
            color: #fff;
            cursor: pointer;
            font-family: inherit;
            font-size: 1.9em;
            font-weight: 600;
            justify-content: center;
            margin-top: 16px;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
    }
    
    &__modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        &__container {
            max-height: 500px !important;
            background-color: white;
            border-radius: 2rem;
            &__content {
                overflow-y: auto;
                &__close-button {
                    position: relative;
                    left: -1rem;
                    top: 0.5rem;
                    font-size: 2.5rem;
                    cursor: pointer;
                    align-items: center;
                    &::after {
                      content: "\00d7"; // This will render the 'X'.
                      display: block; // Ensure the pseudo-element is displayed.
                    }
                }
            }
        }

        .vue3rdj5 {
            overflow-y: auto !important;
            padding-bottom: 50px;
            text-align: center;  
            img {
                display: none !important;
            }   
            &__ledger {
              max-width: 250px;
              &-link {
                border-radius: 10px;
              }
              &-list {
                list-style-type: none;
                margin-left: -20px;
              }
            }
            &__mode {
              width: 260px;
              background: none;
              margin: 0;
              padding: 0;
              color: black;
              order: 0;
              align-items: baseline !important;
              min-height: 0px;
              margin-bottom: 30px;
              margin-left: 25px !important;
              &-qr {
                /* padding-left: 50px; */
                padding-left: 0;
                margin-bottom: 30px;
                margin-left: -7px;
                & canvas {
                  border-radius: 20px;
                  display: block;
                  margin: auto;
                  justify-content: center;
                  width: inherit;
                }
              }
              &-link {
                padding: 18px !important;
                font-size: 25px;
                text-decoration: none;
                color: black;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                background: #fedf25;
                justify-content: center;
                border-radius: 15px;
                text-align: center;
                margin-left: 20px;
              }
            }
            &__infos {
              display: -webkit-box;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              font-family: inherit;
              font-size: 20px;
              text-align: left;
              letter-spacing: -1px;
              font-weight: 600;
              max-width: 250px;
              margin-left: 10px !important;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
            }
            &__modes {
              display: flex;
              flex-direction: column;
              max-width: 500px;
              align-content: center;
              max-width: 500px;
              margin: 12px;
              background: none !important;
              min-height: 150px;
          
              &-open {
                @extend .buttonCommon !optional;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.6rem;
                padding-left: 70px;
                padding-right: 165px;
                padding-bottom: 0px;
                font-size: 0;
                line-height: 0;
                -webkit-transition: transform 0.2s ease-out;
                -moz-transition: transform 0.2s ease-out;
                -o-transition: transform 0.2s ease-out;
                transition: transform 0.2s ease-out;
                color: black;
                text-transform: uppercase !important;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
                border: 2px solid #0000 !important;
                border-radius: 35px;
                padding-top: 13px !important;
                background: #fedf25;
                img {
                    display: none;
                }
                &:hover {
                  transform: scale(1.02);
                }
                &:active {
                  transform: scale(1);
                }
                
                &:last-child {
                  margin-bottom: 0;
                }
          
                &::before {
                  content: "";
                  width: 1.5rem;
                  height: 1.5rem;
                  object-fit: cover;
                  margin-right: 0.6rem;
                }
                &:nth-last-of-type(4) {
                  padding-top: 10px;
                  &::before {
                    content: url("@/assets/icons/extension.svg");
                    display: inline-block;
                    margin-bottom: 3px;
                    margin-right: 0.6rem !important;
                  }
                  &::after {
                    content: "Defi Wallet";
                    font-size: 1.3rem !important;
                    line-height: 25px !important;
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                    margin-right: 0.6rem;
                    display: inline-block;
                    white-space: nowrap;
                  }
                }
          
                &:nth-last-of-type(3) {
                  &::before {
                    content: url("@/assets/icons/xportal.svg");
                    display: inline-block;
                    margin-bottom: 3px;
                    margin-right: 0.6rem !important;
                  }
                  &::after {
                    content: "xPortal";
                    font-size: 1.3rem !important;
                    line-height: 25px !important;
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                    margin-right: 0.6rem;
                    display: inline-block;
                    white-space: nowrap;
                  }
                }
          
                &:nth-last-of-type(2) {
                  &::before {
                    content: url("@/assets/icons/ledger.svg");
                    display: inline-block;
                    margin-bottom: 3px;
                    margin-right: 0.6rem !important;
                  }
                  &::after {
                    content: "Ledger";
                    font-size: 1.3rem !important;
                    line-height: 25px !important;
                    padding-left: 6px;
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                    margin-right: 0.6rem;
                    display: inline-block;
                    white-space: nowrap;
                  }
                }
          
                &:nth-last-of-type(1) {
                  &::before {
                    content: url("@/assets/icons/webwallet.svg");
                    display: inline-block;
                    margin-bottom: 3px;
                    margin-right: 0.6rem !important;
                  }
                  &::after {
                    content: "Web Wallet";
                    font-size: 1.3rem !important;
                    line-height: 25px !important;
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                    margin-right: 0.6rem;
                    display: inline-block;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
    }
}

@media screen and (min-width: 1200px) {

    .vue3rdj5 {
        &__modes {
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: 1200px;
            min-height: 585px;

            &-open {
                margin: 0 12px;
                width: calc(25% - 24px);
            }
        }

        &__mode {
            align-items: center;
            display: flex;
            margin: 0 auto;
            min-height: 505px;
            order: 100;
            padding: 52px 24px;
            width: calc(100% - 24px);

            &-qr {
                max-width: 400px;
                width: 100%;
            }
        }

        &__ledger {
            margin: 0 auto;
            max-width: 800px;
        }
    }

}
